@import "tailwindcss";
@import "m3-svelte/misc/styles.css";
@import "m3-svelte/misc/recommended-styles.css";
@import "m3-svelte/misc/tailwind-styles.css";
@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }
  :root,
  ::backdrop {
    --m3-scheme-primary: 65 95 145;
    --m3-scheme-on-primary: 255 255 255;
    --m3-scheme-primary-container: 214 227 255;
    --m3-scheme-on-primary-container: 40 71 119;
    --m3-scheme-inverse-primary: 170 199 255;
    --m3-scheme-secondary: 86 94 113;
    --m3-scheme-on-secondary: 255 255 255;
    --m3-scheme-secondary-container: 218 226 249;
    --m3-scheme-on-secondary-container: 62 71 89;
    --m3-scheme-tertiary: 112 85 117;
    --m3-scheme-on-tertiary: 255 255 255;
    --m3-scheme-tertiary-container: 250 216 253;
    --m3-scheme-on-tertiary-container: 87 62 92;
    --m3-scheme-error: 186 26 26;
    --m3-scheme-on-error: 255 255 255;
    --m3-scheme-error-container: 255 218 214;
    --m3-scheme-on-error-container: 147 0 10;
    --m3-scheme-background: 249 249 255;
    --m3-scheme-on-background: 25 28 32;
    --m3-scheme-surface: 249 249 255;
    --m3-scheme-on-surface: 25 28 32;
    --m3-scheme-surface-variant: 224 226 236;
    --m3-scheme-on-surface-variant: 68 71 78;
    --m3-scheme-inverse-surface: 46 48 54;
    --m3-scheme-inverse-on-surface: 240 240 247;
    --m3-scheme-outline: 116 119 127;
    --m3-scheme-outline-variant: 196 198 208;
    --m3-scheme-shadow: 0 0 0;
    --m3-scheme-scrim: 0 0 0;
    --m3-scheme-surface-dim: 217 217 224;
    --m3-scheme-surface-bright: 249 249 255;
    --m3-scheme-surface-container-lowest: 255 255 255;
    --m3-scheme-surface-container-low: 243 243 250;
    --m3-scheme-surface-container: 237 237 244;
    --m3-scheme-surface-container-high: 231 232 238;
    --m3-scheme-surface-container-highest: 226 226 233;
    --m3-scheme-surface-tint: 65 95 145;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
  :root,
  ::backdrop {
    --m3-scheme-primary: 170 199 255;
    --m3-scheme-on-primary: 11 48 95;
    --m3-scheme-primary-container: 40 71 119;
    --m3-scheme-on-primary-container: 214 227 255;
    --m3-scheme-inverse-primary: 65 95 145;
    --m3-scheme-secondary: 190 198 220;
    --m3-scheme-on-secondary: 40 49 65;
    --m3-scheme-secondary-container: 62 71 89;
    --m3-scheme-on-secondary-container: 218 226 249;
    --m3-scheme-tertiary: 221 188 224;
    --m3-scheme-on-tertiary: 63 40 68;
    --m3-scheme-tertiary-container: 87 62 92;
    --m3-scheme-on-tertiary-container: 250 216 253;
    --m3-scheme-error: 255 180 171;
    --m3-scheme-on-error: 105 0 5;
    --m3-scheme-error-container: 147 0 10;
    --m3-scheme-on-error-container: 255 218 214;
    --m3-scheme-background: 17 19 24;
    --m3-scheme-on-background: 226 226 233;
    --m3-scheme-surface: 17 19 24;
    --m3-scheme-on-surface: 226 226 233;
    --m3-scheme-surface-variant: 68 71 78;
    --m3-scheme-on-surface-variant: 196 198 208;
    --m3-scheme-inverse-surface: 226 226 233;
    --m3-scheme-inverse-on-surface: 46 48 54;
    --m3-scheme-outline: 142 144 153;
    --m3-scheme-outline-variant: 68 71 78;
    --m3-scheme-shadow: 0 0 0;
    --m3-scheme-scrim: 0 0 0;
    --m3-scheme-surface-dim: 17 19 24;
    --m3-scheme-surface-bright: 55 57 62;
    --m3-scheme-surface-container-lowest: 12 14 19;
    --m3-scheme-surface-container-low: 25 28 32;
    --m3-scheme-surface-container: 30 32 36;
    --m3-scheme-surface-container-high: 40 42 47;
    --m3-scheme-surface-container-highest: 51 53 58;
    --m3-scheme-surface-tint: 170 199 255;
  }
}

a {
  @apply text-primary underline;
}
.underline-hover {
  @apply decoration-primary/50 transition-colors hover:decoration-primary/75 focus-visible:decoration-primary/75 active:decoration-primary/100;
}
.truncate {
  @apply w-full overflow-hidden text-ellipsis whitespace-nowrap;
}
button {
  cursor: pointer;
}
