/* Write your global styles here, in PostCSS syntax */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Roboto+Mono&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  box-sizing: border-box;
  color-scheme: light dark;
}
a {
  @apply text-primary underline;
}
.underline-hover {
  @apply decoration-primary/50 transition-colors hover:decoration-primary/75 focus-visible:decoration-primary/75 active:decoration-primary/100;
}
